* {
    margin: 0;
    padding: 0;
}

html{
    background: linear-gradient(#2E6082, #5D7B8F);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center; 
    background: radial-gradient(#38739D, #142837);
    padding: 25px;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: "Montaga", serif;
    font-weight: 400;
    font-size: 50px;
}

#perfil {
    font-size: 80px;
    margin-left: auto; 
    color: #ffffff;
}

a {
/*menu dropdown*/
.dropdown{
    list-style-type: none;
}
.dropdownMenu{
    position: absolute;
    display: none;
    margin-left: 15px;
}
.dropdownMenu a{
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    width: 50px;
    text-align: center;
}
.dropdowneunoColor:hover{
    background-color: #bac0c5;
}
.dropdown:hover .dropdownMenu{
    display: block;
    background-color: white;
}
/*fim menu dropdown*/
.voltar {
    display: grid;
    margin-left: 2%;
    padding: 4px;
    text-decoration: none;
    border-radius: 100%;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 2px 2px 2px #000;
    width: fit-content;
    margin-top: 1%;
    background: #7196C2;
}

a:hover {
.voltar:hover {
    background-color: rgb(206, 195, 195);
}

.retangulo {
    width: 88vw;
    height: 67vh;
    background: linear-gradient(#B2CEE2, #8CB5D2, #A6C6DD);
    border: 0px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 30px;
    color: white;
    margin: 20px auto; 
    display: grid;
    grid-auto-rows: 27% 27% 18%;
}

i {
    display: grid;
    font-size: 35px;
    color: #ffffff;

}

.data{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 32px;
}


.titulo_data{
    display: flex;
    margin-top: 10px;
    margin-left: 17px;
    padding: 5px;
    color: #000;
    grid-row-start: 1;
}

.titulo{
    margin-top: 10px;
    height: 3vh;
    width: 25vw;
}


.dataAtividade{
    margin-left: auto;
    margin-top: 10px;
    width: 90%;
    font-size: 15px;
}


.descricao_atividade{
    margin-top: 10px;
    margin-left: 17px;
    color: #000;
    grid-row-end: 3; 


}

.descricao{
    width: 85vw;
    margin-top: 30px;
    height: 30vh;

}



button{
    display: flex;
    width: 70px;
    height: 27px;
    align-items: center;
    justify-content: center;
    background-color: #EBFFEB;
    border: none;
    font-weight: bold;
}

.excluir{
    background-color: #DF8585;
    margin-right: 17px;
    font-weight: bold;
}

.agendar{
    display: flex;
    flex-direction: row-reverse;
    margin-left:auto;
    margin-top: auto;
    grid-row-end: 5;
    margin-right: 30px;
}
