/*sobre nós*/

.container {
    position: relative; /* Necessário para que os filhos possam usar 'absolute' */
    height: 200px; /* Define a altura do contêiner */
    background-color: rgba(211, 211, 211, 0.185);
}
h2{
    color: white;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../img/fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.meio{
    text-align: center;
    color: ghostwhite;
}

.allft {
    text-align: center; 
  }

.foto{
    margin: 50px; 
    display: inline-block;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(44,44,44, 0.15);
}







/*login*/
body {
    background-image: url("../laguna login.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.login{
    text-align: center;
    margin: 200px;
    width: fit-content;
    
}


.acessar{
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 7px;
    border-left: 10px;
    width: 100px;
}

h1{
    font-size: 100px;
    text-align: center;
    color: white;
}

.retangulo{
    width: 440px; /* 25% da largura da tela */
    height: 1000px; /* 60% da altura da tela */
    background-color: rgba(0, 0, 0, 0.5);
    border: 0px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

