/*sobre nós*/

h2{
    color: white;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../img/fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.meio{
    text-align: center;
    color: ghostwhite;
}

.allft {
    text-align: center; 
  }

.foto{
    margin: 50px; 
    display: inline-block;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(44,44,44, 0.15);
}

.dudu{
    position: relative;     
  
  width: 200px;
  top: -20px;       
  right: -330px;        
}

.lucas{
    position: relative;     
  
  width: 250px;
  top: -100px;       
  right: -675px;        
}

.murillo{
    position: relative;     
  
  width: 200px;
  top: -180px;       
  right: -1028px;    
}

.felipe{
    position: relative;     
  
    width: 200px;
    top: -260px;       
    right: -1345px;    
}

.des{
    text-align: center;
    color: whitesmoke;
    position: relative; 
    width: 1000px;  
    top: -180px;
    right: -457px
}

.sobre{
    text-align: center;
    position: relative;
    top: -180px;
    
}
