body {
    background-image: url("C:\Users\Aluno\Pictures\Screenshots\Captura de tela 2024-10-04 112925.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
