
.informacoes{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}


.perfil{
    text-align: center;
}
.foto{
text-align: center;
color: white;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

/**/
#form-form{
    & .image-upload{
        position: relative;
        width: 200px;
        height: 200px;
        border: 4px solid white;
        border-radius: 100%;
        box-shadow: 2px 3px 12px #7988b6;
        overflow: hidden;
    }

    & .image-upload img{
        object-fit: cover;
    }

    & .image-upload i{
        position: absolute;
        margin: 0 auto;
        font-size: 50px;
        color: white;
    }


    & #image-field{
        position: absolute;
        margin: 0 auto;
        border: #ffffff;
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

body{
    background-color: rgb(46, 96, 130);
}

.gerais{
    position: relative;
    color: white;
    right: -30px;
    top: -30px;
}

.linha{
    position: relative;
    width: 97%;
    top: -30px;
}

#nome{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18px;
}

#email{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18px;
}

#senha{
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-left: 18px;
}

#telefone{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18px;
}


#telefone{
    position: relative;
    left: -40px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18px;
}

#ocupacao{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18px;
}

#pais{
    position: relative;
    left: 23px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18px;
}

#cidade{
    position: relative;
    left: 12px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18px;  
}

.nome{
    color: white;
    margin: 0 auto;
}

.retangulo {
    margin-right: auto;
    margin-left: 20px;
    width: 50vw;       /* largura */
    height: 40px;      /* altura */
    background-color: rgba(0, 0, 0, 20%);
    border: 2px solid black; 
}

.email{
    color: white;
}

.senha{
    margin: 0 auto;
    color: white;
}

.retangulo2{
    margin-right: auto;
    margin-left: 20px;
    width: 25vh;       /* largura */
    height: 40px;      /* altura */
    background-color: rgba(0, 0, 0, 20%);
    border: 2px solid black; 
}

.mudar{
    margin-left: 220px;
    display: block;
    color: white;
}

.telefone{
    color: white;
}


.ocupação{
    position: relative;
    color: white;
    width: 15px
}

.pais{
    position: relative;
    color: white;
    width: 15px
}


.cidade{
    position: relative;
    color: white;
    width: 15px
}


.sair{
    position: relative;
    color: white;
}







i{
    font-size: 35px;
    display: grid;
    
}

a:hover{
    color: rgb(212, 212, 212);;
}





.botao:hover{
    background-color: rgb(206, 195, 195);

}

.botao{
    display: grid;
    margin-left: 4%;
    padding: 4px;
    text-decoration: none;
    border-radius: 100%;
    text-align: center ;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 2px 2px 2px #000;
    width: fit-content;
}
